<h1>Add Book</h1>
<form>
    

    <label for="Author">Author_Name</label>
    <input type="text" id="Author" name="Author"><br><br>

    <label for="bookname">Book_Name</label>
    <input type="text" id="bookname" name="bookname"><br><br>

    

    <label for="type">category_of_book</label>
    <select id="type" name="type">
        <option value="Fiction">Fiction</option>
        <option value="Nonfiction">Non-Fiction</option>
        <option value="selfhelp">SelfHelp</option>
        <option value="Novel">Novel</option>
        <option value="story">Story</option>
        <option value="phylosophy">phylosophy</option>

    </select><br><br>
    <button type="submit">Add_Book</button>

</form>
<a href="/">Back to Home</a><br><br>
<a href="/edit_book">EditBook</a>