<form>
    <label for="bookname">Change_Book_Name</label>
    <input type="text" id="bookname" name="bookname"><br>

    <label for="Author_Name">Change_Author</label>
    <input type="text" id="Author_Name" name="Author_Name"><br>

    <label for="type">Change_Type</label>
    <select id="type" name="type">
        <option value="Fiction">Fiction</option>
        <option value="Non-Fiction">Non-Fiction</option>
        <opton value="Novel">Novel</opton>
        <option value="phylosophy">phylosophy</option>
        <option value="drama">Drama</option>
        <option value="Horrer">Hhorrer</option>
        <option value="selfhelp">selfHhelp</option>
    </select><br><br>


</form>