<html>
    <body>
        <h1>Login Page</h1>
        <form method="POST">
            <div>
                <label for ="user_name">user_name(email)</label>
                <input type="email" name="user_name" id="user_name" required>

            </div>
            <div>
                <label for ="password">Password</label>
                <input type="password" name="password" id="password" required>

            </div>
            <button type="Submit" >Login</button>
        </form>


    </body>
</html>