<html>
    <body>
        <h1>Login Page</h1>
        <form method="POST">
            <div>
                <label for ="user_name">User_Name(Email)</label>
                <input type="email" name="user_name" id="user_name" required><br><br>

            </div>
            <div>
                <label for ="password">Password</label>
                <input type="password" name="password" id="password" required><br><br>

            </div>
            <button type="Submit" >Login</button>
        </form>
        <a href="/">Go To Home</a>


    </body>
</html>