<form>
    

<label for name="first_name">first_name</label>
<input type="text" id="first_name" name="first_name"><br>

<label for name="last_name">Last_name</label>
<input type="text" id="last_name" name="last_name"><br>

<label for Date="DOB">Date of birth</label>
<input type="date" id="DOB" name="DOB"><br>

<label for username="user_name">User_name</label>
<input type="text" id="user_name" name="user_name"><br>

<label for password="password">Password</label>
<input type="password" id="password" name="password"><br>
</form>