<h1>Registration </form></h1>
<form>
    

<label for name="first_name">first_name</label>
<input type="text" id="first_name" name="first_name" required><br><br>

<label for name="last_name">Last_name</label>
<input type="text" id="last_name" name="last_name" required><br><br>

<label for Date="DOB">Date of birth</label>
<input type="date" id="DOB" name="DOB" required><br><br>

<label for username="user_name">User_name</label>
<input type="text" id="user_name" name="user_name" required><br><br>

<label for password="password">Password</label>
<input type="password" id="password" name="password" required><br><br>
<button type="Registor">Registor</button>
</form>
<a href="/">Back To Home</a>